button{
    background-color: #DCCA87;
    width: 157px;
    height: 40px;
    color: black;
    outline: none;
    border: none;
    font-family: var(--font1);
    font-size: 16px;
    font-weight: 700;
}