.laurel{
    width: 100%;
    height: 100vh;
    padding: 40px;
    background: transparent;


    .group-87{
        width: 146px;
        height: 146px;
    }
    .laurel-main{
        // background-col   or: antiquewhite;
        display: flex;
        justify-content: space-between;
        width: 1050px;
        margin: auto;

        .laurel-left{
            p{
                font-size: 23px;
                font-weight: 700;
            }

            h1{
                font-size: 64px;
                margin: 0;
                padding: 20px 0 30px 0;
            }

            .laurel-grid{
                display: grid;
                grid-template-columns: 1fr 1fr;  /* Creates two equal columns */
                gap: 32px;  /* Optional: adds space between grid items */
                // background-color: aliceblue;
                width: 600px    ;

                img{
                    width: 79px;
                    height: 79px;
                }

                .grid-flex{
                    display: flex;
                    gap: 32px;

                    h2{
                        color: #DCCA87;
                    }

                    p{
                        font-size: 16px;
                        font-family: var(--font2);
                        font-weight: normal;
                        color: #AAAAAA;
                        
                    }
                }
            }
        }

        .laurel-right{
            width: 400px;
            height: 500px;
        }
    }
    
}